* {
    margin: 0%;
    padding: 0%;
}

h1, h2, h3 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    color: inherit;
    cursor: none;
    text-decoration: inherit;
}

ul {
    list-style: none;
}
